ServerName "{{ ansible_hostname }}"

DisplayLogin "Bienvenue sur le FTP {{ ansible_hostname }}"

UseIPv6 off

DefaultRoot ~ {{ group_ftp }}

# Port (défaut = 21)
Port 2222

RootLogin off

MaxClients {{ max_client }}

<Limit LOGIN>
DenyGroup !{{ group_ftp }}
Allow from {{ range_ip_allow }}

DenyAll
</Limit>